<% if current_path != '' %>
  <% if params[:poll] == 'true' %>
    <a id="live-poll" class="btn btn-primary active" href="<%= link_to(current_path, 'poll' => false) %>"><%= t('StopPolling') %></a>
  <% else %>
    <a id="live-poll" class="btn btn-primary" href="<%= link_to(current_path, 'poll' => true) %>"><%= t('LivePoll') %></a>
  <% end %>
<% end %>
